.container {
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;             /* Use flexbox to align items */
    justify-content: center;    /* Center content horizontally */
    align-items: center;        /* Center content vertically */
    gap: 20px;                  /* Add space between the dice */
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #393E46;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
    max-width: 150px;   /* Optional: Limit the maximum size */
}
